.container {
	display: grid;
	grid-template-areas: 'summaryDay chart' 'summaryPomodoro chart' 'bottomWidgets bottomWidgets';
	grid-template-rows: 260px 179px;
	grid-template-columns: 296px 952px;
	gap: 32px;
}

.bottomWidgets {
	display: grid;
	grid-area: bottomWidgets;
	grid-template-areas: 'focus paused stopped';
	grid-template-rows: 179px;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 32px;
}

.focus {
	grid-area: focus;
	background-color: var(--background-focus);
}

.paused {
	grid-area: paused;
	background-color: var(--background-pause);
}

.stopped {
	grid-area: stopped;
	background-color: var(--background-stop);
}